= simple_form_for micropost, url: user_microposts_path(current_user) do |f|
  .form-inputs
    = f.input :content, as: :text, label: false, placeholder: "What's on your mind?"

  .form-actions
    = f.button :submit, value: 'Update status'
