%table.table
  %thead
    %tr
      %th User
      %th Content

  %tbody
    - microposts.each do |micropost|
      %tr
        %td= link_to micropost.user.username, user_path(micropost.user)
        %td= micropost.content
