-if user_signed_in? && current_user == micropost.user
  %div.delete
    = link_to 'delete', user_micropost_path(current_user, micropost), method: :delete, class: 'button-xs btn-danger'
%span.username
  = link_to micropost.user.username, user_path(micropost.user)
%span.time_ago
  = time_ago_in_words(micropost.created_at, include_seconds: true) + ' ago'
%div.content
  = micropost.content
