// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.timeline {
  padding-top: 30px;
  max-width: 640px;
  margin: 0 auto;
  list-style: none;

  .micropost {
    padding: 5px;
    border-top: 1px solid $gray-lighter;

    &:hover {
      background-color: $table-bg-hover;
    }

    .username {
      font-weight: bold;
      font-size: 1.2em;
    }
    .time_ago {
      color: $second-plan-text-color;
    }
    .content {
      font-size: 1.2em;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .delete {
      margin-top: 5px;
      float: right;
    }
  }
}
.new_status {
  @extend .btn;
  @extend .btn-primary;
  @extend .pull-right;
  margin-top: 8px;
  margin-right: 20%;
  position: absolute;
  top: 0;
  right: 0;
}
.new_status_box {
  display: none;
}

@media (max-width: $screen-xs-max) {
  .new_status {
    margin-right: 16px;
  }
}
